<!doctype html>
<html lang="en" ng-app="ChitterChatter">
    <head>
        <meta charset='utf-8'>
        <title>Chitter Chatter</title>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src='js/chitterPeepDisplayer.js'></script>
    </head>
    <body ng-controller='ChitterPeepController as displayCtrl'>
        <div>
        <form>
            <input type='text' ng-model="displayCtrl.peepEntryField">
            <button class='buttn' ng-click="displayCtrl.post()">Enter Peep</button>
        </form>
    </div>
    <button class='buttn' ng-click='displayCtrl.get()'>View Peeps</button>
    {{displayCtrl.result}}
    <div>
    </div>
    </body>
</html>
